.news-container{
    /*background-color: aliceblue;*/
    /*padding-top: 30px;*/
}

.error{
    color: red;
    font-weight: bold;
}
.lk-user-info{
    font-size: 1.5rem;
}

.lk-user-info p span{
    color: brown;
    font-weight: 500;
}