.items{
  background-color: aliceblue;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.items .item{
  max-width: 300px;
  background-color: #d1e7fa;
  padding: 20px;
}

.items .item img{
  width: 100%;
}

/* класс, который добавляем через JS */
.hidden{
  display: none;
}

.users{
  background-color: rgb(240, 255, 241);
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.error{
  color: red;
  font-weight: bold;
}